/*用在<table class="border">之处。 */
table.border {
    border: 1px solid #666;
    width: 100%;  
}
table.border tr{
    border: 1px solid #666;
}
table.border tr td{
    border: 1px solid #666;
}

/**/
table {
	border: 0px solid #666;
	width: 100%;
	margin: 0px 0 0px 0;
}
