TD {FONT-SIZE: 12px}
BODY {FONT-SIZE: 12px}
.black {COLOR: #000000; LINE-HEIGHT: 18px; TEXT-DECORATION: none}
A.black:hover {COLOR: #ff0000}
.white {FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none}
A.white:hover {COLOR: #ffefa5; TEXT-DECORATION: underline}
.eng {FONT-SIZE: 12px; FONT-FAMILY: arial}
.cn {FONT-SIZE: 12px; TEXT-DECORATION: none}
A:hover {TEXT-DECORATION: underline}
.copyright {FONT-SIZE: 11px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none}
.input1 {BORDER-RIGHT: #ACACAC 1px solid; BORDER-TOP: #ACACAC 1px solid; BORDER-LEFT: #ACACAC 1px solid; BORDER-BOTTOM: #ACACAC 1px solid}
.input2 {BORDER-RIGHT: #ACACAC 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #ACACAC 1px solid}
.input3 {BORDER: #FBAF0C 1px solid;}
.input4 {BORDER: #D699FA 1px solid;}
.input5 {BORDER: #D89F29 1px solid;}

.cr2 {font-size: 12px;line-height: 18px;color: 606060;text-decoration: none;}
.cr2lk {font-size: 12px;line-height: 18px;color: 606060;text-decoration: underline;}
.cr3 {font-size: 12px;line-height: 21px;color: FF7110;text-decoration: none;}
.cr4 {font-size: 12px;line-height: 18px;color: 0066CC;text-decoration: none;}
.cr5 {font-size: 12px;line-height: 18px;color: 000000;text-decoration: none;}
.td{border:0px solid #000000}
.td2{border:0px solid #336699;background-color:#E2F9FF}
.cnn {font-size: 12px;line-height: 18px;text-decoration: none;}
a.cnn:hover {font-size: 12px;line-height: 18px;text-decoration: none;}
.cla1 {font-size: 12px;color:#4B4B4B;text-decoration: none;}
.cla2 {font-size: 12px;line-height: 18px;color:#FF6600;text-decoration: none;}
.green1 {font-size: 12px;line-height: 18px;color: 46A718;text-decoration: none;}
.green2 {font-size: 12px;line-height: 18px;color: 246F00;text-decoration: none;}
.bg1 {background-attachment: fixed;background-image: url(images/test3.gif);background-repeat: repeat;background-position: left bottom;}
.blue1 {font-size: 12px;color: 004BCC;text-decoration: none;}
.blue2 {font-size: 12px;line-height: 18px;color: 0069A6;text-decoration: none;}
.cs {
	font-size: 12px;
	line-height: 18px;
	color: A334E4;
	text-decoration: none;
}
.down:hover {right: 0px; position: relative; top: 1px; text-decoration: none;}
